@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');

body {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 40px;
  font-family: 'Major Mono Display', monospace;
}

.app {
  /* padding-top: 30px; */
}

.icon {
  background-color: white;
}

.header {
  font-family: 'Major Mono Display', monospace;
}

.button {
  background-color: #e7e7e7;
  text-align: center;
  font-size: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
}

.drink_name {
  color: white;
  text-align: center;
  font-size: 30px;
}

.photo {
  height: 350px;
  width: 350px;
  padding-bottom: 50px;
}
